html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0; }

/* _typography.scss */
body {
  font-family: 'museo', 'helvetica neue', helvetica, sans-serif; }

h1, h2, h3, h4, .title {
  font-family: 'museo-slab', georgia, serif;
  font-weight: 700; }

p {
  font-family: 'museo', 'helvetica neue', helvetica, sans-serif; }

h1, .title {
  font-size: 3.3em; }

h2 {
  font-size: 2.8em; }

h3 {
  font-size: 2.2em; }

p, li {
  font-size: 1.4em; }

button, li {
  font-family: 'museo-sans', 'helvetica neue', helvetica, sans-serif; }

@media (max-width: 650px) {
  .top-bar .title {
    font-size: 2.3em; }
  .top-bar li.favorites, .top-bar li.login {
    margin: 25px 0;
    font-size: 1.2em; } }

/* _colors.scss */
header {
  background: #d2e1e4;
  box-shadow: 1px 3px 5px #31231e; }

body {
  background: #f1efea; }

.top-bar {
  background: #31231e url('../img/black-linen.png') repeat; }
  .top-bar li a {
    display: block;
    color: #f1efea; }
  .top-bar li a:hover {
    color: #89a894; }

.content .heading {
  background: #cec8b5; }

.entry {
  border-top: 2px solid #31231e; }

.entry:nth-child(2) {
  border: none; }

#map-canvas {
  border-top: 2px solid #31231e;
  border-bottom: 2px solid #31231e; }

/* _layout.scss */
.top-bar {
  height: auto; }
  .top-bar ul {
    margin-right: 1.1rem; }
  .top-bar .favorites, .top-bar .login {
    margin: 40px 0; }

h1 {
  text-align: center; }

.content .cta {
  padding: 60px 0; }
  .content .cta h3 {
    text-align: center; }
.content .heading, .content .formhead {
  padding: 60px 0;
  margin-bottom: -30px; }
  .content .heading h2, .content .formhead h2 {
    text-align: center; }
.content .entry {
  padding: 30px 1.1rem 15px 1.1rem;
  margin: 30px auto; }
  .content .entry h3 {
    margin: 15px auto; }
.content a.button {
  margin: 30px auto 0;
  display: block;
  background: none;
  border: 4px solid #31231e;
  color: #31231e;
  border-radius: 5px;
  font-weight: 700; }
.content a.button:hover {
  background: #31231e;
  color: #f1efea; }

.login, .signup {
  margin-top: 30px; }
  .login button, .signup button {
    display: block;
    background: none;
    border: 4px solid #31231e;
    color: #31231e;
    border-radius: 5px;
    font-weight: 700; }
  .login button:hover, .signup button:hover {
    background: #31231e;
    color: #f1efea; }

.ratefav {
  margin-top: 60px;
  padding: 15px 0; }

/* _mixins.scss */
header h1 {
  padding: 30px;
  text-align: center; }
header nav {
  overflow: hidden; }
  header nav ul {
    list-style: none;
    padding-left: 0; }
    header nav ul li {
      display: block;
      padding: 15px;
      text-align: center;
      float: left; }
      header nav ul li a {
        text-decoration: none; }

footer nav {
  overflow: hidden; }
  footer nav ul {
    list-style: none;
    padding-left: 0; }
    footer nav ul li {
      display: block;
      padding: 15px;
      text-align: center;
      float: left; }
      footer nav ul li a {
        text-decoration: none; }


/*# sourceMappingURL=app.css.map */