/* _colors.scss */
$green: rgba(137, 168, 148, 1);
$light-blue: rgba(210, 225, 228, 1);
$dark-brown: rgba(49, 35, 30, 1);
$brown: rgba(104, 78, 50, 1);
$beige: rgba(206, 200, 181, 1);
$white: rgba(241, 239, 234, 1);
$black: rgba(0,0,0,1);

header {
  background: $light-blue;
  box-shadow: 1px 3px 5px $dark-brown;
}
body {
  background: $white;
}
.top-bar {
  background: $dark-brown url('../img/black-linen.png') repeat;
  li {
    a{
      display: block;
      color: $white;
    }
  }
  li {
    a:hover {
      color: $green;
    }
  }
}
.content{
  .heading{
    background: $beige;
  }
  
}

.entry {
  border-top: 2px solid $dark-brown;
}
.entry:nth-child(2){
  border:none;
}
#map-canvas {
  border-top: 2px solid $dark-brown;
  border-bottom: 2px solid $dark-brown;
}

.ratefav {

}
