/* _layout.scss */

.top-bar {
	height: auto;
	ul{
		margin-right: 1.1rem;
	}
	.favorites, .login {
		margin: 40px 0;
	}
}
h1 {
	text-align: center;
}
.content {

	h2 {
		text-align:center;
		margin: 60px auto;
	}

	.entry {
		padding: 30px 1.1rem 15px 1.1rem;
		margin: 30px auto;
		h3 {
			margin: 15px auto;
		}
	}

}
#map-canvas {
	border-top: 2px solid $dark-brown;
	border-bottom: 2px solid $dark-brown;
}
.login, .signup {
	margin-top: 30px;
	button{
		display: block;
		background: none;
		border: 4px solid $dark-brown;
		color: $dark-brown;
		border-radius: 5px;
		font-weight: 700;
	}
	button:hover {
		background: $dark-brown;
		color: $white;
	}
}