/* _typography.scss */

$primary-typeface   : 'brandon-grotesque',verdana,sans-serif;
$secondary-typeface : 'rooney-web',georgia,serif;

$slab: 'museo-slab',georgia,serif;
$sans: 'museo-sans','helvetica neue',helvetica,sans-serif;
$default: 'museo','helvetica neue',helvetica,sans-serif;

body {
	font-family: $default;
}

h1,h2,h3,h4,.title {
  font-family: $slab;
  font-weight: 700;
}

p {
  font-family: $default;
}

h1,.title{
  font-size: 3.3em;
}
h2 {
  font-size: 2.8em;
}
h3 {
  font-size: 2.2em;
}
p,li {
  font-size: 1.4em;
}

button,li{
	font-family: $sans;
}

@media(max-width:650px){
	.top-bar{

		.title{
			font-size: 2.3em;
		}
		li.favorites,li.login {
			margin: 25px 0;
			font-size: 1.2em;
		}

	}
}